html {
    background-color:#000000;
    font-family: Arial, Helvetica, sans-serif; 
}

header {
    background-color:#000000;
}



nav {
    color:#ffffff;
    font-size:20px; 
}

nav li {
    list-style:none;
    display: inline-block;
}

nav h2 {
    visibility: hidden;
}

nav:hover {
    color:#007d7b;
}

main {
    background-color: #ffffff;
    text-align: center;
    margin: 0px auto;
    width:1310px;
}

[href="#top"] {
    position: fixed;
    bottom:0px;
    right:0px;
    padding: 5px;
    background-color:#007d7b;
}

a {
    color:#ffffff;
    text-decoration:none;
    float: right;
}


h1 {
    color: #007d7b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;

}

h2 {
    font-size:40px;

}

label {
    color:#007d7b;
    
}


#contact {
    background-color: #000000;
    padding-top:1px;
}

#contact > h2 {
    color:#ffffff;
    
}

#contact > p {
    color:#ffffff;
}

